*{margin: 0;}
.header{
    background-image: url('../images/donation13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 667px;
}
.header-section{
    width: 40%;
    margin-left: 307px;
    width: 826px;
    height: 320px;
    position: absolute;
    margin-top: 174px;
}

.header-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    color: #FFFFFF;

}
.header-description{
    height: 56px;
    color: beige;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    
}
.d-button{
    width: 160px;
    height: 56px;
    left: 640px;
    top: 438px;
    background: #FF5959;
    border-radius: 5px;
    margin-left: 330px;
    margin-top: 30px;
    border: 0px;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

/* donet section */
.donate-div{
    width: 700px;
    text-align: center;
    margin: auto;

}
.donate-title{
font-size: 40px;
margin-top: 100px;
font-weight: 600;
}
.donate-description{
margin-top: 30px;
font-size: 24px;
font-weight: 400;
color: rgb(50, 50, 50);
margin-bottom: 50px;
}
.donate-button{
    width: 970px;
    margin: auto;
}
.donate-button button{
    padding: 35px 40px;
    margin: 20px;
    border: 0;
    font-size: 20px;
    font-weight: 800;
   color:#424242;
}
.donate-button .button-2{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.amount{
    width: 400px;
    margin: auto;
}
.amount p{
    margin-left: 120px;
    margin-bottom: 10px;
    color: #424242;
}
hr{
    margin-bottom: 20px;
}
.d-button2{
    width: 160px;
    height: 56px;
    left: 640px;
    top: 438px;
    background: #FF5959;
    border-radius: 5px;
    margin-left: 117px;
    border: 0px;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 20px;
}  
.donate-plan{
    width: 800px;
    margin: auto;
}
.donate-plan-title{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    font-weight: 600;
}
.donate-plan-description{
margin-top: 30px;
font-size: 24px;
font-weight: 400;
color: rgb(50, 50, 50);
margin-bottom: 50px;
text-align: center;
}
.plan-div{
    display: flex;
    gap: 10px;
}
.plan-content{
    width: 232px;
    background-color: aquamarine;
    margin-left: 55px;
    padding: 75px 78px;
   background-color:#FF59591A;
}
.plean-header{
    margin-top: 18px;
    margin-bottom: 24px;
    font-size: 25px;
    font-weight: 700;

}
.plan-header-description{
    margin-top: -15px;
    color: #504d4d;
}
.click{
    background-color: #4F9DA61A;
}
.description-us{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
}
.htc-btn{
    width: 160px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    border: 0px;
    color:#FFFFFF;
    font-weight: 600;
    font-size: 15px;
    margin-top: 15px;
}
.describe-img img{
    width: 456px;
    height: 477px;
}
.describe-left{
    width: 400px;
    /* background: #FF5959; */
    display: inline;
    margin-left: 50px;
    margin-top: 45px;
}
.describe-header{
    margin-left: 10px;
    margin-top: 45px;
}
h1.describe-header {
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 35px;
}
.hp2-title{
    width: 400px;
    /* background: #FF5959; */
    display: inline;
    margin-right: 50px;
    margin-top: 45px;
    font-weight: 700; 
    color: black;
}
.help-people2-div{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: -140px;


}
.help-peole2 img{
    width: 450px;
    height: 477px;
    margin-left: 150px;
}
.hp2-description{
    width: 400px;
    margin-top: 90px;
    color:#424242;
}




















